---
// import Projects from "./projects/Projects.astro";
import Experience from "./experience/Experience.astro";
import About from "./about/About.astro";
import Skills from "./skills/Skills.astro";
import Home from "./home/Home.astro";
---

<main>
  <div class="container_p">
    <Home />
    <!-- <Projects /> -->
    <Skills />
    <Experience />
    <About />
  </div>
</main>
