<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <meta
      name="description"
      content="Portfolio of full stack developer Bibek Magar with expertise in MERN and Next.js."
    />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://kebibragam.vercel.app/" />
    <meta property="og:site_name" content="Bibek Magar" />
    <meta property="og:title" content="Portfolio | Bibek Magar" />
    <script
      src="https://kit.fontawesome.com/2898a0ac51.js"
      crossorigin="anonymous"></script>
    <title>Portfolio | Bibek Magar</title>
  </head>
  <body>
    <slot />
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
  }
</style>
